.top-bar {
  background-color: #a2d061;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 50px;
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 0.14px;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

.container_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 425px) {
  .container_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.offer_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container_right {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 425px) {
  .container_right {
    padding-bottom: 10px;
  }
}

.search_container {
  display: flex;
  align-items: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;

  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

/* responisve */
@media (max-width: 767px) {
  .main_container {
  }
}
