.top-bar {
  background-color: #a2d061;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 0.14px;
  text-transform: capitalize;
}
.top-bar .container {
  height: 50px;
}

.container_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.offer_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container_right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search_container {
  border-bottom: 1px solid #FFF;
  padding: 5px 0px;
  display: flex;
  gap: 5px;
}
.container_right .login-signup img {
  filter: invert(1);
}
.container_right input {
  color: rgba(255, 255, 255, 0.40);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  background: transparent;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
