.cart_section {
  max-width: 1480px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  gap: 5.3rem;
}

/* Left section */
.cart_left > h4 {
  width: 100%;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.16px;
  margin-bottom: 3rem;
}

.horizontal_line {
  width: 100%;
  height: 1px;
  background-color: rgba(162, 208, 97, 0.5);
}

.cart_left_desc {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.16px;
  margin: 40px 0 14px;
}

.cart_left_radio_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.cart_left_btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form_inputs {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form_inputs > input {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid #cacaca;
  padding-left: 1.2rem;
  background: #f7f7f7;
}

.form_inputs > input:focus {
  outline: none;
}

.form_inputs > .form_button {
  width: 20%;
  height: 100%;
  border: 1px solid #cacaca;
  color: var(--green, #a2d061);
  text-align: center;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 1rem;
  border-radius: 30px;
  border: 1px solid var(--green, #a2d061);
}

.form_inputs:nth-child(2) {
  margin-bottom: 2.5rem;
}

.horizontal_line.last {
  background-color: #d9d9d9;
}

.cart_left_FAQ {
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.cart_left_FAQ > h3 {
  color: #111;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.28px;
  margin-bottom: 2.3rem;
}

.cart_left_faqInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3rem;
  margin-bottom: 2.3rem;
}

.cart_left_faqInput > p {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.cart_left_faqInput > input {
  width: 100%;
  height: 60px;
  padding-inline: 1.2rem;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #cacaca;
  background: #f7f7f7;
}

.cart_left_swift {
  width: 100%;
  margin-bottom: 2.3rem;
}

.cart_left_swift > p {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0.8rem;
}

.cart_left_swift > .cart_left_swift_content {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.cart_left_swift_content > input[type="radio"] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background: rgba(202, 202, 202, 0.12);
}

.cart_left_need {
  margin-bottom: 2.7rem;
}

.cart_left_need > p {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0.8rem;
}

.cart_left_need > textarea {
  width: 100%;
  height: 138px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #cacaca;
  background: rgba(247, 247, 247, 0.97);
  padding: 2rem;
  resize: none;
}

.cart_left_need > textarea:focus {
  outline: none;
}

.cart_left_need > textarea::placeholder {
  color: #949090;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  text-transform: capitalize;
}

.cart_left_interested_section > p {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.cart_left_interested_section_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_left_interested_section_inputs > div {
  flex: 1;
  margin-top: 1.5rem;
}

/* Right Section */
.estimate_wrapper {
  width: 100%;
  max-width: 440px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #fff;
  padding-block: 1rem;
}

.estimate_wrapper > h3 {
  color: #111;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.estimate_wrapper > .estimate_horizontal_line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.estimate_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1rem;
  gap: 7rem;
}

.estimate_container_top {
  width: 100%;
}

.estimate_content {
  width: 100%;
  padding-inline: 1.6rem;
  margin-bottom: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.estimate_content_imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.511px;
  background: rgba(162, 208, 97, 0.1);
}

.estimate_content_textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.estimate_content_textContent > .title {
  max-width: 239px;
  text-wrap: wrap;
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.estimate_content_textContent > .price {
  color: #8f8f8f;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  display: inline-block;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.5px;
}

.estimate_content_textContent > .amountwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountwrapper > .amountContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  min-width: 81px;
  border-radius: 4.301px;
  border: 0.717px solid rgba(162, 208, 97, 0.5);
  text-align: center;
}

.decrease_amount,
.increase_amount {
  position: relative;
  cursor: pointer;
}

.decrease_amount::after,
.increase_amount::before {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 100%;
  background: rgba(162, 208, 97, 0.5);
}

.increase_amount::before {
  left: -5px;
}

.estimate_container_bottom {
  width: 100%;
  height: 1px;
  padding-inline: 1.5rem;
  min-height: 100px;
}

.total_amount_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total_amount_container > .text {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.total_amount_container > .price {
  color: #111;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.estimate_bottom_btn {
  margin-top: 1.3rem;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(162, 208, 97, 0.1);
  background: rgba(162, 208, 97, 0.3);
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-transform: capitalize;
}

.estimate_clear_content {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.estimate_clear_btn {
  color: rgba(0, 0, 0, 0.4);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: capitalize;
  padding: 1rem 0;
}
